<!DOCTYPE HTML>
<html>
<head>
    <title>Spring MVC and Velocity</title>

    #parse("frame/styles.vm")
    #parse("frame/scripts.vm")
</head>
<body>
    <h1 id="title">Spring MVC and Velocity</h1>
    <hr>

    <div>
        <div style="position: absolute;left: 0px;width: 150px;">
            #parse("frame/links.vm")
        </div>
        <div style="position: absolute;left: 200px;">
            $screen_content
        </div>
    </div>
</body>
</html>