
#if($shiro.authenticated)
    $web.debug("页面已经加载，跳转到首页。")
    $web.redirect($ctx.getContextUrl("/"))
#end

登陆页面
<form action="#springUrl('/auth/login')" method="post">

    <input name="username" value="$!_lastlogin" placeholder="输入用户名"/>

    <br>
    <input name="password" value="" placeholder="输入密码" />
    <br>
    <input type="submit" />

    $!_msg


</form>
